<a href="https://colab.research.google.com/github/burcu-karabacak/Global-Al-Hub/blob/main/AI1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
help()

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
fav_number = 12
if fav_number < 15:
  print("my favourite number smaller than x")

my favourite number smaller than x

**Statements and command
**

In [ ]:
pi=3.14
print(pi)
if pi < 3.15:
  pi = pi + 0.1
print(pi)

3.14
3.24

In [ ]:
def greeting(name):
    print(f'Hello,{name}')
greeting('burcu')
""" Triple qoutes command
"""
def greeting(name):
  print('hello '+name)
greeting('deniz')

Hello,burcu
hello deniz

**AI7023 Variables, data types, type conversion
**

In [ ]:
name = 'deniz'
name

'deniz'

In [ ]:
age = 25
age

25

In [ ]:
print(name)
print(age)

deniz
25

In [ ]:
print(type(name))

print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
name = "burcu"
type(name)

str

In [ ]:
store_items = ["apple" , 1.49 , "Banana" , 1 , "milk" , 2.99 , "Cheese", 4.49 ]
print(store_items,type(store_items))

['apple', 1.49, 'Banana', 1, 'milk', 2.99, 'Cheese', 4.49] <class 'list'>

In [ ]:
print(store_items[2])
print(store_items[0:4])

Banana
['apple', 1.49, 'Banana', 1]

In [ ]:
list(store_items[2])

['B', 'a', 'n', 'a', 'n', 'a']

In [ ]:
print(store_items[2:])
print(store_items[:2])

['Banana', 1, 'milk', 2.99, 'Cheese', 4.49]
['apple', 1.49]

In [ ]:
store_items[2] = "chocolate"
print(store_items)

['apple', 1.49, 'chocolate', 1, 'milk', 2.99, 'Cheese', 4.49]

In [ ]:
age = 25
print(age, type(age))

25 <class 'int'>

In [ ]:
age=25
age +=0.5
print(age, type(age))

25.5 <class 'float'>

In [ ]:
age = "25"

print(type(age))

<class 'str'>

In [ ]:
age = int(age)
print(age, type(age))

25 <class 'int'>

**AI7024 Input and output functions**

In [ ]:
print(" PRINT output func.")

In [ ]:
name= "burcu"
print("hello",name)

hello burcu

In [ ]:
print(156)

156

In [ ]:
name =input("name: ")
print("Greetings", name)
""" input girdi func. """

name: BURCUU
Greetings BURCUU

' input girdi func. '

In [ ]:
number=int(input('number : '))
print( number + 10)

number : 26
36

**AI7025 Import**

In [ ]:
""" import modules/ built in / ready to use """
import math


floor_number = (math.floor(3.45))

print(floor_number, type(floor_number))

3 <class 'int'>

In [ ]:
import datetime

print(datetime.datetime.now())

2022-06-26 22:41:10.505184

In [ ]:
import random
print(random.randint(1,6))

2

**AI7026 Operators**

In [ ]:
""" arithmetic, assignment, comparison, and logical operators. """
print("5 + 2 : ",2+5)
print("5 - 2 : ",5-2)
print("5 * 2 : ",2*5)
print("5 ** 2 : ",5**2)
print("5 / 2 : ",5/2)
print("5 // 2 : ",5//2)
print("5 % 2 : ",5%2)

5 + 2 :  7
5 - 2 :  3
5 * 2 :  10
5 ** 2 :  25
5 / 2 :  2.5
5 // 2 :  2
5 % 2 :  1

In [ ]:
#Assignment operators
x = 5 # x=5
x += 5  # x=x+5
x -= 5  # x=x-5
x *= 5  # x=x*5
x /= 5  # x=x/5

In [ ]:
# Comparison operators

n1= 10
n2 = 5

print(n1, ">",n2,"=", n1>n2)

print(n1, ">=",n2,"=", n1>=n2)
print(n1, "<",n2,"=", n1<n2)
print(n1, "<=",n2,"=", n1<=n2)
print(n1, "==",n2,"=", n1==n2)
print(n1, "!=",n2,"=", n1!=n2)

10 > 5 = True
10 >= 5 = True
10 < 5 = False
10 <= 5 = False
10 == 5 = False
10 != 5 = True

In [ ]:
# Logical operators or and not
print(True and False and False)

print(True or False and False)

print("not True : ", not True )
print("not False : ", not False )

False
True
not True :  False
not False :  True

In [ ]:
name = input("ndkjfhalk")
age =input(name+"dkjafafh")
print(age + name)

ndkjfhalkali
alidkjafafh15
15ali